# Copy this file to `.env` (No API key is needed here)

# Model used for the chat Recipe Bot
MODEL_NAME=anaconda/qwen2-7b-instruct/q4_k_m

# Model used for the LLM judge (use a cheaper model for judge evaluation)
MODEL_NAME_JUDGE=anaconda/qwen1.5-4b-chat/q4_k_m

